body {
  background-color: rgb(0, 0, 0);
}
number {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}
unselectable {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
centered {
  text-align: center;
}
